{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} brand{% endblock %}

{% block title %}
    {% trans "Brand" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Brands" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:catalogue-brand-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Create new brand" %}</a>
        <h1>{% trans "Brand" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    {% render_table brands %}

    {% if not object_list %}
        <p>{% trans "There are no brands." %}</p>
    {% endif %}
{% endblock dashboard_content %}
