{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% block header %}
    <div class="page-header">
        <h1> Gallery </h1>
    </div>
{% endblock header %}

{% block dashboard_content %}


    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <div class="well">
        {% include 'oscar/dashboard/partials/for_gallery.html' with includes_files=1 class='wysiwyg' %}
    </div>

                <table class="table">
                    <thead class=" text-primary">
                     <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    </thead>
                    <tbody>

                    {% for data in gallery %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ data.title }}</td>
                            {% if data.image %}
                          <td><img style="width:100px;height:100px;" src="{{ data.image_url }}"></td>
                            {% else %}
                          <td><img style="width:100px;height:100px;" src=""></td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>


{% endblock dashboard_content %}
