{% extends 'oscar/dashboard/catalogue/_oscar_product_update.html' %}



{% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="form-group">
                    <div class="float-right" style="float:right;">
                        <a href="{% url 'dashboard:catalogue-product-list' %}">
                            Cancel
                        </a>
                       or
                        {% if parent %}
                            <button class="btn btn-secondary" name="action" type="submit" value="create-another-child" data-loading-text="Saving...">
                               Save and add another variant
                            </button>
                        {% endif %}
                        <button class="btn btn-secondary" name="action" type="submit" value="continue" data-loading-text="Saving...">
                            Save and continue editing
                        </button>
                        <button class="btn btn-primary" name="action" type="submit" value="save" data-loading-text="Saving...">
                            Save
                        </button>
                    </div>
                    {% if product %}
                        <a class="btn btn-success" href="{{ product.get_absolute_url_api }}">View on site</a>
                    {% endif %}
                </div>
            </div>
        {% endblock fixed_actions_group %}