{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-product360-list' %}">{% trans "360 Images" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-product360-update' pk=object.pk %}"> {{ object.pk }} </a>
        </li>
        <li class="active">{% trans "Delete 360 Image?" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete 360 Image? " %} ({{ object }})
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete 360 Images" %}</h2>
    </div>
    <form method="post" class="well">
        {% csrf_token %}
        {{ form }}
        {% blocktrans with name=object.name %}
            <p>Delete 360 Image <strong>{{ name }}</strong> - are you sure?</p>
        {% endblocktrans %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
        {% trans "or" %} <a href="{% url 'dashboard:catalogue-product360-update' pk=object.pk %}">{% trans "cancel" %}</a>
    </div>
</form>
{% endblock %}
