{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABCHAUZ</title>
    <style>
        body{
            font-size: large;
        }
      .wrapper {
        width: 600px;
        margin: auto;
      }
      th {
        text-align: left;
      }
      .product_table img{
          max-width: 50px;
      }
    </style>
  </head>
                                    {% block header %}{% endblock %}
                                    {% block tbody %}
                                    <tr>
                                        <td class="content-block">
                                            {% block body %}

                                            {% endblock %}
                                        </td>
                                    </tr>
                                    {% endblock %}
                                    {% block footer %}
                                        <tr>
                                            <td class="content-block">
                                                <p>{% trans "Thanks for using our site!" %}</p>
                                                <p>{% blocktrans with name=site.name %}The {{ name }} team{% endblocktrans %}</p>
                                            </td>
                                        </tr>
                                    {% endblock %}
