{% extends "oscar/customer/emails/base.html" %}
{% load static %}

{% load currency_filters i18n %}
<!--{% block body %}-->

{% block header_subject %}
<tr>
            <td>
              <table class="w-100 thin-text">
                <tbody>
                <tr>
                  <td style="width: 50%" class="text-muted col-6" colspan="6">
                    Hey <span class="text-dark"> {{ order.user.get_full_name }},</span>
                  </td>
                  <td class="text-muted col-6"  colspan="6">
                    <div class="float-right">Order placed on <b class="text-dark">{{ order.date_placed }}</b></div>
                  </td>
                </tr>
                <tr>
                  <td class="text-muted col-6"  colspan="6">
                    <div class="float-left">Your order has been successfully placed.</div>
                  </td>
                  <td class="text-muted col-6"  colspan="6">
                    <div class="float-right">Order ID <b class="text-dark">{{ order.number}}</b></div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table class="w-100 thin-text">
                <tbody>
                <tr>
                  <td colspan="2" class="col-2" style="float:center"><img src="https://devserver.abchauz.com/assets/email/safety.png" width="80px" alt="safety"></td>
                  <td colspan="10" class="col-10 text-muted">
                    We are committed to serving you with utmost regard for your safety.
                    Please note, the delivery date of your order may change considerably on the government's zonal advisory in your area.</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
{% endblock %}

<!--{% block delivery_details %}-->
<!--                {% include 'oscar/customer/emails/delivery_details.html' %}-->

<!--{% endblock %}-->

<!--{% block order_details %}-->
<!--                {% include 'oscar/customer/emails/cart_lines.html' %}-->

<!--{% endblock %}-->

<!--{% endblock %}-->