{% extends "oscar/customer/emails/base.html" %}
{% load currency_filters i18n %}

{% block tbody %}
<tr>
    <td class="content-block">
        <p xmlns="http://www.w3.org/1999/html">{% trans 'Hello,' %}</p>
        <p>{% blocktrans with order_number=order.number %}We are pleased to confirm your order {{ order_number }}
            has been canceled. Thank you for choosing ABCHAUZ.{% endblocktrans %}</p>
    </td>
</tr>
        <tbody>
        <tr>
            <td>
              {% block header_01 %}
              <table style="width: 100%; margin: 10px 0">
                <tbody>
                  <tr>
                    <td style="width: 50%"><strong>Order ID: {{ order.id }}</strong></td>
                    <td><strong>Date of order:{{ order.created_at }}</strong></td>
                  </tr>
                </tbody>
              </table>
              {% endblock %}
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 100%; margin: 5px 0">
                <tbody>
                  <tr>
                    <td>Dear, Customer</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 80%">
                <tbody>
                  <tr>
                    <td><strong>Shipping Address</strong></td>
                  </tr>
                  <tr>
                    <td>
                        <p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>
                        {% endfor %}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 100%; margin: 10px 0" class="product_table">
                <thead>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </thead>
                <tbody>
                {% for line in order.lines.all %}
                  <tr>
                    <td><img src="{{ line.product.absolute_image_path }}"/></td>
                    <td>{{ line.product }}</td>
                    <td>{{ line.quantity }}</td>
                    <td>{{ line.unit_price_tax }}</td>
                    <td>{{ line.price_incl_tax }}</td>
                  </tr>
                {% endfor %}
                  <tr style="margin: 10px 0 20px 0">
                    <td colspan="3" style="font-weight: 700; font-size: large">
                      Total
                    </td>
                    <td colspan="2" style="font-weight: 700; font-size: large">
                      {{ order.total_incl_tax|currency:order.currency }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table
                style="
                  width: 70%;
                  margin: auto;
                  text-align: center; font-size: larger; font-family:sans-serif;padding: 50px 0; font-weight: 700;"
              >
                <tbody>
                  <tr>
                    <td>

                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
</tbody>


{% endblock %}
